body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.header .logo {
    font-size: 18px;
    color: #f9faf8;
    margin: 16px 0 16px 25%;
}

.header .links {
    font-size: 14px;
    margin: 0 25% 0 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    gap: 24px;
}

.hero .container {
    display: flex;
    margin: 10% 25%;
}


.hero .title {
    color: #f9faf8;
    font-size: 36px;
    font-weight: 900;
}

.hero .text {
    color: #e5e7eb;
    font-size: 16px;
    margin: 6% 0;

}

.hero button {
    font-size: 14px;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 25%;

}

.info .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info .container {
    display: flex;
    justify-content: center;
    margin: 8%;
}

.info img {
    border: 4px solid #1f2937;
    border-radius: 16px;
    background-color: lightblue;
    width: 100px;
    height: 100px;
}

.info .small-pic {
    max-width: 100px;
    margin: 0 8%;
}

.info .small-pic .text {
    margin: 8%;
    font-size: 12px;
    color: #1f2937;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;

}

.quote .container {
    display: flex;
    flex-direction: column;
    margin: 10% 33%;
    align-items: flex-end;

}

.quote .text {
    font-size: 30px;
    font-style: italic;
}

.quote .source {
    padding: 20px 0 0 0;
}

.action .container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 16px;
    margin: 5% 33%;
}

.action .subcontainer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: #e5e7eb;
    margin: 5% 0 5% 10%;

}

.action .title {
    font-size: 20px;
    font-weight: 600;
}

.action .text {
    font-size: 12px;
}

.action .sign-up {
    padding: 8% 10% 8% 0;
}

.action button {
    border-radius: 8px;
    background-color: #3882f6;
    border: 3px solid white;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 550;
    width: 120px;
    padding: 6px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    font-size: 14px;
    color: #e5e7eb;
    align-items: center;
}

.footer .copyright {
    margin: 36px;
}